/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #1b1c1d;
    color: white;
  }
  
  .App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  header {
    background: #282c34;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #61dafb;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #202124;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3b3f42;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form input[type="text"], form input[type="checkbox"] {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    color: #000;
    width: 100%;
  }
  
  form input[type="text"]:focus, form input[type="checkbox"]:focus {
    outline: none;
    border-color: #61dafb;
  }
  
  form label {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 1.1em;
  }
  
  form button {
    margin: 10px;
    padding: 10px 20px;
    background: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  form button:hover {
    background: #21a1f1;
  }
  
  /* Proposal List Styles */
  ul {
    list-style: none;
    padding: 0;
    width: 500px;

  }
  
  li {
    background: #3b3f42;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  li h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #61dafb;
  }
  
  li p {
    margin: 5px 0;
  }
  
  li button {
    margin: 5px;
    padding: 10px 20px;
    background: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  li button:hover {
    background: #21a1f1;
  }
  
  li button.edit {
    background: #ffbf00;
  }
  
  li button.edit:hover {
    background: #ffaa00;
  }
  
  li button.end {
    background: #f44336;
  }
  
  li button.end:hover {
    background: #d32f2f;
  }
  